<body onload="init();">
  {{#create-pixel}} wtf is this   {{/create-pixel}}
  {{#create-pixel}}
    <canvas id="demoCanvas" width="500" height="300" ></canvas>
  {{/create-pixel}}

</body>
{{outlet}}
